html, body {
    margin: 0;
    padding: 0;
  }
  #one {
    background-color: lightgrey;
    width: 1521px;
    border: 1px solid black;
    padding: 10px;
    margin-left:1px;
    margin-top:0px;
  }

